<body>
  <h3 class="title">TechManage</h3>
  
<div class="container">
  <h1>Cadastro de Usuário</h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit($event)">
    <div class="form-group">
      <label for="nome">Nome Completo:</label>
      <input type="text" id="nome" name="nome" formControlName="nome" placeholder="Joao">
      <div *ngIf="userForm.get('nome')?.errors && userForm.get('nome')?.touched" class="error">
        Nome precisa ter no minimo 3 caracteres.
      </div>
    </div>
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" formControlName="email" placeholder="exemplo@email.com">
      <div *ngIf="userForm.get('email')?.errors && userForm.get('email')?.touched" class="error">
        Formato de e-mail inválido.
      </div>
    </div>
    <div class="form-group">
      <label for="telefone">Telefone:</label>
      <input type="tel" id="telefone" name="telefone" formControlName="telefone" placeholder="(xx) xxxxx-xxxx">
      <div *ngIf="userForm.get('telefone')?.errors && userForm.get('telefone')?.touched" class="error">
        Número de telefone inválido.
      </div>
    </div>
    <div class="form-group">
      <label for="data-nasc">Data de Nasc.:</label>
      <input type="date" id="data-nasc" name="data-nasc" formControlName="data_nascimento">
      <div *ngIf="userForm.get('data_nascimento')?.errors && userForm.get('data_nascimento')?.touched" class="error">
        Idade minima deve ser 18 anos.
      </div>
      <div *ngIf="userForm.get('data_nascimento')?.value === '' && userForm.get('data_nascimento')?.touched" class="error">
        A data de nascimento é obrigatória.
      </div>
    </div>
    <div class="form-group">
      <label for="tipo">Tipo de Usuário:</label>
      <select id="tipo" name="tipo" formControlName="tipo_usuario">
        <option value="administrador">Administrador</option>
        <option value="editor">Editor</option>
        <option value="visualizador">Visualizador</option>
      </select>
    </div>
    <button type="submit" (click)="onSubmit($event)" >Salvar</button>
  </form>
</div>
</body>

<router-outlet />
